@page "/users"
@using FXbox.Cloud.Presentation.BackOffice.Interfaces
@inject IUsersService UsersService

<h1>Users</h1>

<p>All registered users.</p>

<br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Agents</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>gegs</td>
        <td>herhee3</td>
        <td>shesh</td>
    </tr>
    <tr>
        <td>gegs</td>
        <td>herhee3</td>
        <td>shesh</td>
    </tr>
    <tr>
        <td>gegs</td>
        <td>herhee3</td>
        <td>shesh</td>
    </tr>
    </tbody>
</table>



@code {
    
}